﻿@model OnlineMedic.Web.ViewModels.CalendarEntryViewModel

@{
    ViewBag.Title = "MyCalendarDoctor";
}

<h2>My Calendar</h2>
<hr/>

<div class="container">
    <div class="row">
        <a href="?date=@ViewBag.PrevDate">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>        
        <a class="pull-right" href="?date=@ViewBag.NextDate">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                @foreach (string dayName in ViewBag.DaysNames)
                {
                    @Html.Raw(HttpUtility.HtmlDecode(dayName));

                }
            </tr>
        </thead>
        <tbody>
            @foreach (List<OnlineMedic.Web.ViewModels.CalendarEntryViewModel> calEntryList in ViewBag.CalendarEntries)
            {
                <tr>
                    <td>@calEntryList[0].Time</td>
                    @foreach (var calEntry in calEntryList)
                    {
                        if (calEntry.Status == "R")
                        {
                            <td>
                                <div class="entry-record alert alert-danger cursor-pointer" data-time="@calEntry.Time" data-status="@calEntry.Status" data-date="@calEntry.Date" data-patient-id="@calEntry.UserId">
                                    @calEntry.Name
                                </div>
                            </td>
                        }
                        else if (calEntry.Status == "P")
                        {
                            <td>
                                <div class="entry-record alert alert-info cursor-pointer" data-time="@calEntry.Time" data-status="@calEntry.Status" data-date="@calEntry.Date" data-patient-id="@calEntry.UserId" >
                                    @calEntry.Name
                                </div>
                            </td>
                        }
                        else if (calEntry.Status == "F")
                        {
                            <td>
                                <div class="entry-record alert alert-success cursor-pointer" data-time="@calEntry.Time" data-status="@calEntry.Status" data-date="@calEntry.Date" >
                                    Free
                                </div>
                            </td>
                        }
                        else if (calEntry.Status == "E")
                        {
                            <td>
                                <div class="entry-record alert alert-warning cursor-pointer" data-time="@calEntry.Time" data-status="@calEntry.Status" data-date="@calEntry.Date">
                                    Empty
                                </div>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>

    <div>
        <button type="button" class="btn btn-success col-md-2 col-md-offset-7">All to Free</button>        
        <button type="button" class="btn btn-warning col-md-2 col-md-offset-1">All To Empty</button>
    </div>
</div>


<!-- Modal Pending -->
<div class="modal fade" id="pendingModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pending request</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to confirm reservation?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default openPatientModal" data-dismiss="modal">Open Patient</button>
                <button id="rejectPendingModal" type="button" class="btn btn-primary" data-dismiss="modal">Reject</button>
                <button id="confirmPendingModal" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Reserved -->
<div class="modal fade" id="reservedModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reservation</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to cancel the reservation?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default openPatientModal" data-dismiss="modal">Open Patient</button>
                <button id="cancelReservedModal" type="button" class="btn btn-primary" data-dismiss="modal">Cancel Entry</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Problem with entry</h4>
            </div>
            <div class="modal-body">
                <p>Please refresh the page</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



@section Scripts {
    <script src="~/Scripts/calendar.signalR.js"></script>
    <script>
        var _doctorId = "@ViewBag.DoctorId";
        $(document).ready(function () {
            var thisVariable = new Object();
            $(".entry-record").click(function () {
                var status = $(this).attr("data-status");
                thisVariable = this;
                if (status == "F") {
                    $.post("@Url.Action("InvertFreeEntry", "Calendar")", { date: $(this).attr("data-date"), time: $(this).attr("data-time") })
                      .done(function (data) {
                          if (data == "ok") {
                              $(thisVariable).html("Empty");
                              $(thisVariable).removeClass("alert-success");
                              $(thisVariable).addClass("alert-warning");
                              $(thisVariable).attr("data-status", "E");
                          }
                          else {
                              $('#errorModal').modal('show');
                          }
                      });
                }
                else if (status == "E") {
                    $.post("@Url.Action("InvertEmptyEntry", "Calendar")", { date: $(this).attr("data-date"), time: $(this).attr("data-time") })
                      .done(function (data) {
                          if (data == "ok") {
                              $(thisVariable).html("Free");
                              $(thisVariable).removeClass("alert-warning");
                              $(thisVariable).addClass("alert-success");
                              $(thisVariable).attr("data-status", "F");
                          }
                      });
                }
                else if (status == "R") {
                    $('#reservedModal').modal('show');
                }
                else if (status == "P") {
                    $('#pendingModal').modal('show');
                }
            });

            $("#rejectPendingModal").click(function () {
                $.post("@Url.Action("RejectEntryDoctor", "Calendar")", { date: $(thisVariable).attr("data-date"), time: $(thisVariable).attr("data-time") })
                      .done(function (data) {
                          if (data == "ok") {
                              $(thisVariable).html("Free");
                              $(thisVariable).removeClass("alert-info");
                              $(thisVariable).addClass("alert-success");
                              $(thisVariable).attr("data-status", "F");
                          }
                          else {
                              $('#errorModal').modal('show');
                          }
                      });
            });

            $("#confirmPendingModal").click(function () {
                $.post("@Url.Action("ConfirmEntryDoctor", "Calendar")", { date: $(thisVariable).attr("data-date"), time: $(thisVariable).attr("data-time") })
                      .done(function (data) {
                          if (data == "ok") {
                              $(thisVariable).removeClass("alert-info");
                              $(thisVariable).addClass("alert-danger");
                              $(thisVariable).attr("data-status", "R");
                          }
                          else {
                              $('#errorModal').modal('show');
                          }
                      });
            });

            $("#cancelReservedModal").click(function () {
                $.post("@Url.Action("CancelReservedDoctor", "Calendar")", { date: $(thisVariable).attr("data-date"), time: $(thisVariable).attr("data-time"), patientId: $(thisVariable).attr("data-patient-id") })
                      .done(function (data) {
                          if (data == "ok") {
                              $(thisVariable).html("Free");
                              $(thisVariable).removeClass("alert-danger");
                              $(thisVariable).addClass("alert-success");
                              $(thisVariable).attr("data-status", "F");
                          }
                          else {
                              $('#errorModal').modal('show');
                          }
                      });
            });

            $(".openPatientModal").click(function () {
                var patientUrl = "@Url.Action("AllRecords", "Patients", new { patientId = "patientId" })";
                patientUrl = patientUrl.replace("patientId", $(thisVariable).attr("data-patient-id"));
                window.open(patientUrl);
            });


        });
    </script>
}