﻿
@{
    ViewBag.Title = "MyCalendarPatient";
}

<h2>My Calendar</h2>

<div class="container">
    <div class="row">
        <a href="?date=@ViewBag.PrevDate">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="pull-right" href="?date=@ViewBag.NextDate">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                @foreach (string dayName in ViewBag.DaysNames)
                {
                    @Html.Raw(HttpUtility.HtmlDecode(dayName));

                }
            </tr>
        </thead>
        <tbody>
            @foreach (List<OnlineMedic.Web.ViewModels.CalendarEntryViewModel> calEntryList in ViewBag.CalendarEntries)
            {
                <tr>
                    <td>@calEntryList[0].Time</td>
                    @foreach (var calEntry in calEntryList)
                    {
                        if (calEntry.Status == "E")
                        {
                            <td></td>
                        }
                        else if (calEntry.Status == "F")
                        {
                            <td></td>
                        }
                        else if (calEntry.Status == "M")
                        {
                            <td>
                                <div class="entry-record alert alert-danger cursor-pointer" data-time="@calEntry.Time" data-status="@calEntry.Status" data-date="@calEntry.Date" data-doctor-id="@calEntry.UserId">
                                    @calEntry.Name
                                </div>
                            </td>
                        }
                        else if (calEntry.Status == "P")
                        {
                            <td>
                                <div class="entry-record alert alert-info cursor-pointer" data-time="@calEntry.Time" data-status="@calEntry.Status" data-date="@calEntry.Date" data-doctor-id="@calEntry.UserId">
                                    @calEntry.Name
                                </div>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Modal Reserved -->
<div class="modal fade" id="reservedModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reservation</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to cancel the reservation?</p>
            </div>
            <div class="modal-footer">
                <button id="openDoctorModal" type="button" class="btn btn-default" data-dismiss="modal">Open Doctor</button>
                <button id="cancelReservedModal" type="button" class="btn btn-primary" data-dismiss="modal">Cancel Entry</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Problem with entry</h4>
            </div>
            <div class="modal-body">
                <p>Please refresh the page</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/calendar.signalR.js"></script>
    <script>
        var _patientId = "@ViewBag.PatientId";
        $(document).ready(function () {
            var thisVariable = new Object();
            $(".entry-record").click(function () {
                var status = $(this).attr("data-status");
                thisVariable = this;

                if (status == "M" || status == "P") {
                    $('#reservedModal').modal('show');
                }
            });


            $("#cancelReservedModal").click(function () {
                $.post("@Url.Action("CancelReservedPatient", "Calendar")", { date: $(thisVariable).attr("data-date"), time: $(thisVariable).attr("data-time"), doctorId: $(thisVariable).attr("data-doctor-id") })
                      .done(function (data) {
                          if (data == "ok") {
                              $(thisVariable).html("");
                              $(thisVariable).removeClass("alert-danger");
                              $(thisVariable).removeClass("alert-info");
                              $(thisVariable).attr("data-status", "E");
                          }
                          else {
                              $('#errorModal').modal('show');
                          }
                      });
            });

            $("#openDoctorModal").click(function () {
                var patientUrl = "@Url.Action("Details", "Doctors", new { id = "doctorId" })";
                patientUrl = patientUrl.replace("doctorId", $(thisVariable).attr("data-doctor-id"));
                window.open(patientUrl);
            });

        });
    </script>
}