﻿@model IEnumerable<OnlineMedic.Web.ViewModels.DoctorListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3>Your Location:</h3>
            <div id="locationdiv" style="width: 100%; height: 400px;"></div> 
        </div>

        <div class="col-md-5">
            <h3>Filters:</h3>
            <form>
                <div class="form-group">
                    @Html.Label("Category:")
                    <div>
                        @*@Html.DropDownList("Name")*@
                        @Html.DropDownList("categoryId", (SelectList)ViewBag.Categories, new { @class = "form-control", id = "categoryId" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="minPrice">Min Price:</label>
                    <input type="text" class="form-control" id="minPrice" value="@(ViewBag.SearchData.MinPrice ?? "")">
                </div>
                <div class="form-group">
                    <label for="maxPrice">Max Price:</label>
                    <input type="text" class="form-control" id="maxPrice" value="@(ViewBag.SearchData.MaxPrice ?? "")">
                </div>
                <div class="form-group">
                    <label for="distance">Max Distance (km):</label>
                    <input type="text" class="form-control" id="maxDistance" value="@(ViewBag.SearchData.MaxDistance ?? "")">
                </div>

                <input type="hidden" name="Latitude" value="@(ViewBag.SearchData.Latitude ?? 0)" />
                <input type="hidden" name="Longitude" value="@(ViewBag.SearchData.Longitude ?? 0)" />

                <div id="search" class="btn btn-default">Search</div>
            </form>
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ratings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ratings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new {  id=  item.UserId })
        </td>
    </tr>
}

</table>

@section Scripts {
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?key=AIzaSyAFCmnKZYLTNtI5C36FtzeVXQ7b5-1Habg&libraries=places'></script>
    <script src="/Scripts/locationpicker.jquery.js"></script>

    <script>
        $(document).ready(function () {
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {

                }
            }
            function showPosition(position) {
                latitude= position.coords.latitude;
                longitude = position.coords.longitude;

                $("input[name=Latitude]").val(latitude);
                $("input[name=Longitude]").val(longitude);

                $('#locationdiv').locationpicker({
                    location: { latitude: latitude, longitude: longitude },
                    radius: 1
                });
            }

            var latitude = @(ViewBag.SearchData.Latitude ?? 0);
            var longitude = @(ViewBag.SearchData.Longitude ?? 0);

            if (latitude == 0 && longitude == 0) {
                latitude= 44.79962156060846;
                longitude = 20.463409423828125;

                $("input[name=Latitude]").val(latitude);
                $("input[name=Longitude]").val(longitude);

                getLocation();
            }

            $('#locationdiv').locationpicker({
                location: { latitude: latitude, longitude: longitude },
                radius: 1,
                onchanged: function(currentLocation, radius, isMarkerDropped) {
                    //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
                    $("input[name=Latitude]").val(currentLocation.latitude);
                    $("input[name=Longitude]").val(currentLocation.longitude);
                }
            });

            $("#search").click(function () {
                var queryString = "?";

                var minPrice = $("#minPrice").val();
                if (minPrice != null && minPrice != "") {
                    queryString = queryString + "minPrice=" + minPrice + "&";
                }

                var maxPrice = $("#maxPrice").val();
                if (maxPrice != null && maxPrice != "") {
                    queryString = queryString + "maxPrice=" + maxPrice + "&";
                }

                var distance = $("#maxDistance").val();
                if (distance != null && distance != "") {
                    queryString = queryString + "maxDistance=" + distance + "&";
                    queryString += "latitude=" + $("input[name=Latitude]").val() + "&";
                    queryString += "longitude=" + $("input[name=Longitude]").val() + "&";
                }

                queryString += "categoryId=" + $("#categoryId").val();

                window.location = window.location.href.split('?')[0] + queryString;

            });
        });
    </script>
}
