﻿@model OnlineMedic.Web.ViewModels.DoctorViewModel

@{
    ViewBag.Title = "MyProfile";
}

<h2>MyProfile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DoctorViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServicePrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServicePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServicePrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Biography, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Biography, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Biography, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Category", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.DropDownList("Name")*@
                @Html.DropDownList("CategoryId", (SelectList)ViewBag.Categories, new { @class = "form-control" })
            </div>
        </div>

        <div id="locationdiv" style="width: 500px; height: 400px;"></div>
        <input type="hidden" name="Latitude" value="@Model.Latitude"/>
        <input type="hidden" name="Longitude" value="@Model.Longitude" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">                
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
   <script type="text/javascript" src='http://maps.google.com/maps/api/js?key=AIzaSyAFCmnKZYLTNtI5C36FtzeVXQ7b5-1Habg&libraries=places'></script>
   <script src="/Scripts/locationpicker.jquery.js"></script>

    <script>
        $(document).ready(function () {
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {

                }
            }
            function showPosition(position) {
                latitude= position.coords.latitude;
                longitude = position.coords.longitude;

                $('#locationdiv').locationpicker({
                    location: { latitude: latitude, longitude: longitude },
                    radius: 1
                });
            }

            var latitude = @Model.Latitude;
            var longitude = @Model.Longitude;

            if (latitude == 0 && longitude == 0) {
                latitude= 44.79962156060846;
                longitude = 20.463409423828125;

                getLocation();
            }

            $('#locationdiv').locationpicker({
                location: { latitude: latitude, longitude: longitude },
                radius: 1,
                onchanged: function(currentLocation, radius, isMarkerDropped) {
                    //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
                    $("input[name=Latitude]").val(currentLocation.latitude);
                    $("input[name=Longitude]").val(currentLocation.longitude);
                }
            });
        });
    </script>
}
