﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-left"><img style="max-width:37px; margin-top: 6px; margin-right: 10px" src="http://img05.deviantart.net/4f06/i/2007/055/1/0/gekogfx___medic_logo_by_faaj.png"></a>
                @Html.ActionLink("Online Medic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    @Html.Partial("_NavigationMenuPartial")
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Online Medic ASP.NET MVC 5 Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (Request.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/signalr")
        <script src="@Request.Url.GetLeftPart(UriPartial.Authority)/signalr/hubs"></script>
        <script src="~/Scripts/notification.signalR.js"></script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>
