﻿

@if (User.IsInRole("Doctor") == true)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Patients", "Index", "Patients")</li>
        <li>@Html.ActionLink("Calendar", "MyCalendarDoctor", "Calendar")</li>
        <li>@Html.ActionLink("Doctors", "Index", "Doctors")</li>
        <li>@Html.ActionLink("MyProfile", "MyProfile", "Doctors")</li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-info-sign" style="color:aqua"></span>
                Notifications
                <span class="caret" style="color:aqua"></span>
            </a>
            <ul id="notificationList" class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Medical Record", "MyRecord", "Patients")</li>
        <li>@Html.ActionLink("Calendar", "MyCalendarPatient", "Calendar")</li>
        <li>@Html.ActionLink("Doctors", "Index", "Doctors")</li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-info-sign" style="color:aqua"></span>
                Notifications 
                <span class="caret" style="color:aqua"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>
}
